@charset "utf-8";
/* 도깨비 메인 CSS - main.css */

/* 초기화 셋팅 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* 보이는 화면 높이값 채우기 */

    overflow-x: hidden; /* 뷰포트 적용시 내용이 넘쳐서
    x축공간이 비어 보일 경우 이 코드 설정한다!!! */
}


/* 스크롤바 트랙 변경하기 (클래스 .scbar 설정함) */
/* -webkit- 벤더사명(크롬,사파리) 접두어 */
.scbar::-webkit-scrollbar{ /* 전체 스크롤바 크기 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{ /* 스크롤바 */
    background-color: #666;
    border-radius: 5px; /* 옆에 외곽 둥글게 */
}
.scbar::-webkit-scrollbar-track{ /* 스크롤바 트렉 */
    background-color: #ddd;
    border-radius: 5px;
}


/* 공통 초기화 - 3無 */
ul,ol{ 
    margin: 0;
    padding: 0;
    list-style: none;
}
/* float 해제 */
ul::after, ol::after{
    content: "";
    display: block;
    clear: both;
}
li{
    float: left; /* 옆으로 흐르게 */
}


/* 1. 상단영역 */
.top{
    position: relative; /* 아래 absolute 부모로 잡아준거임 */
    /* 부모자격 - .gnb>ul>li::after */
    
    background-color: #fff;
    padding-top: 20px;   
    border: 1px solid #ccc;  /* 하단구분선 */
} 

/* 로고 */
h1.logo{ /* 이렇게 해줘야 딱 달라붙어서 띄어지는 간격 없이 보인다. */
    margin: 0;
    padding: 0; 
    text-align: center;
    /* ★ 내부에 있는 '인라인' 컨텐츠 중앙정렬 */
}
h1.logo img { /* 이미지 마진 위치 조정 */
    width: 100px; 
    /* 중앙정렬 하려면 위에 텍스트 얼라인 준다.(인라인x) */
}


/* GNB 메뉴 */
.gnb{
    max-width: 635px; /* ★최대 폭 크기 635px을 유지하다가,
    화면이 635px 보다 작아지면 width:auto 적용됨! -> 그러면 줄이면 메뉴탭 2줄됨 */

    margin: 0 auto; /* 블록요소 가로중앙 */
    /* left: calc(50% - 317px);
    /* calc(%수치 - 특정px);
       -> 앱솔루트로 가로 중앙정렬 (까다로움)(가운데 정렬 별도)
    */ 

}

.gnb>ul{

}

.gnb>ul>li{
    padding: 0 17px; /* li 안쪽 공간 줌 : 글자사이 간격*/
    /* 양쪽을 동일하게 밀고 사이간격은 34px */
}

.gnb>ul>li>a{
    display: block; /* 높이값 적용위해 */
    height: 54px; /* 인라인 요소여서 적용안됨 *//* 보더,패딩 내부로 포함 : 그래야 클릭했을때 펄쩍거리지 않는다. */
    
    color: #000;
    text-decoration: none; /* 밑줄 없앰 */
    font-size: 13px;

    line-height: 54px; /* 밑을 밀기에 네비게이터 아래 바짝 붙지않게 해준다. */
    box-sizing: border-box; /* 보더,패딩 내부로 포함 : 그래야 클릭했을때 펄쩍거리지 않는다. */
}

/* 상위메뉴 오버시 보더로 밑줄 만들기 */
.gnb>ul>li>a:hover{
    border-bottom: 4px solid red; /* 선택시 아래 직선 적용 */
}


/* 서브메뉴 */
.smenu{ 
    /* display: none; 지금은 복잡스러우니까 눈 감긴다. */
    position: absolute; /* 위에 설정한 값은 그대로 잘 보인다 (젠틀앱솔루트) */
    /* background-color: #fff; -> 회색 구분선 가리니까 주석처리*/  
    
    /* 서브메뉴 숨기기 */
    height: 0;
    overflow: hidden;

    /* ★ 부모li 가상요소 앱솔루트 보다 위로! */
    z-index: 1;

    /* 트랜지션: 속시이지 */
    transition: height .4s ease-out;
}
.smenu li{
    float: none; /* 플롯없앰 : 그래야 밑으로 툭툭 떨어짐 */
}
.smenu a{
    color: #000;
    text-decoration: none;
    font-size: 13px;
    line-height: 30px; /* 줄간격 */
}

/* 상위메뉴 마우스 오버시 서브메뉴 보이기 */
.gnb>ul>li:first-child:hover .smenu{ /* 1번째 탭(서브메뉴) : .semu가 각각 있기때문에 넣은거 - 높이가 달라서 따로 설정함*/
    height: 90px;
} 
.gnb>ul>li:first-child:hover::after{ /* 1번째 탭(가상요소배경) : 선택했을때 마우스 오버시 보이게 하려고*/
    height: 100px; /* 위에 90px + 10px 더한 값 */
    border-bottom: 2px solid red; /* 마우스 오버시에만 보이게 하려고 */
} 


.gnb>ul>li:nth-child(3):hover .smenu{ /* 3번째 탭 */
    height: 120px;
} 
.gnb>ul>li:nth-child(3):hover::after{ /* 3번째 탭(가상요소배경) : 선택했을때 마우스 오버시 보이게 하려고*/
    height: 130px;
    border-bottom: 2px solid red; /* 마우스 오버시에만 보이게 하려고 */
} 


.gnb>ul>li:nth-child(4):hover .smenu{ /* 4번째 탭 */
    height: 60px;
} 
.gnb>ul>li:nth-child(4):hover::after{ /* 4번째 탭(가상요소배경) : 선택했을때 마우스 오버시 보이게 하려고*/
    height: 70px;
    border-bottom: 2px solid red; /* 마우스 오버시에만 보이게 하려고 */
} 


/* JS없이 가상요소로 - 서브메뉴 전체 흰색 배경 깔아주기 */
/* top값 없이 젠틀하게하려고 ::after를 사용함! */

.gnb>ul>li::after { /* 비포로 하면 앱솔루트로 하면 위에만 존중하고 아래는 존중안해서 top값 따로 줘야해서 */
    content: "";
    display: block; /* 습관적코딩(명시적 블럭코딩) - 앱솔루트 주면 자동 블록 되지만 */
    position: absolute;  /* 앱솔루트는 자동 block! */
    left: 0; /* 나의 부모는? = .top (relative 썼기때문에) */
    width: 100%; /* 부모요소를 꽉채움! */

    height: 0px; /* 처음에는 안보여야 되니까 */
 
    /* border-bottom: 2px solid red;  ->  마우스 오버시에만 보이게 하려고 */
    background-color: #fff;

    /* 부모요서 .top의 하단 보더 보이게 하기 위해 마진탑 이동! */
    margin-top: 1px;

    /* 트랜지션: 속시이지 - .smenu와 동일!(가속도가 달라지면 막 보일 수 있기에) */
    transition: height .4s ease-out;
}


/* 메인, 하단 랩핑박스 */
.wrap{
    /* 배경 한번에 셋팅하기!
    background: 색 이미지 반복 고정 위치/크기;
    background: 색이반고윙/크;   
    */
    background: 
    url(../images/bg_logo_a_01.png) no-repeat fixed 10% 25%/10%, /* 먼저쓴게 우선 */ /* 배경이미지에 넣는걸로 변경 */    
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
    /* 배경이미지를 여러개 사용할 경우 먼저 쓴 것이 위에 온다! */
    
}


/* 2. 메인영역 */
.cont{
    min-height: 800px; 
    /* 최소높이 700px 유지 : 푸터 아래 붙게 하기 위해 */
}






/* 캐릭터 박스 */
#cbx{
    position: relative; /* 마영오는 그대로 먹는다. */
    top: 400px; /* 원래위치에서 아래로 400px 이동 */

    width: 90%; /* 유동적으로 움직이게 하고 싶어서 */ 
    /* px로 하면 딱 고정값인데 %하면 화면 비율에 %로 보여진다. */
    /* height: 450px; */

    /* height: 300px;
       자식요소 float때문에
       자식요소를 인식하지 못함!
       높이값이 없을때 높이값이 안나옴!
    */
    margin: 0 auto; /* relative일때도 적용됨! */
    /* 마영오! 가로중앙정렬(블록요소 사용가능) */
    /* outline: 5px dashed lime; -> 영역박스 외곽선 표시*/
}

/* 가상요소로 float해제 */
.clb::after{
    content: "";
    display: block;
    clear: both;
}

/* 개별 캐릭터 박스 공통 */
.cat{
    width: 25%; /* 4등분 */

    /* height: 100%;  */
    /* 높이값이 없으면 auto이고 내용만큼 늘어남 */

    float: left; /* 블록요소가 옆으로 흐르게함 */
    /* left값을 주면 나는 왼쪽 
    다른요소는 오른쪽에 올 수 있게 함 */

    /* 안쪽여백 */
    padding: 5px; /* 안쪽값을 주면서 박스가 커짐 */

    /* 마진, 패딩 포함하기 속성 (bxb)*/
    box-sizing: border-box;

    /* outline: 2px dotted blue; -> 영역박스 외곽선 표시 */

    /* 트랜지션: 속시이지; */
    transition: margin-top .6s ease-out;
}

/* 캐릭터개별박스(.cat)에 마우스 오버시 마진top 올라가기 */
.cat:hover{
    margin-top: -200px;
}


/* 캐릭터 이미지 */
.ci>img { /* 직계자식 이미지만!(>) (띄어쓰기는 포함이고, >는 직계) */
    width: 100%; /* 이미지의 height는 자동(비율유지) */
}

/* 캐릭터 이름 */
.ci span{
    display:block; /* span은 인라인요소라 컨텐츠만 영역이되서 블락요소로 바꾼다 */
    text-align: center; /* 가로중앙 적용! 이미지도 텍스트얼라인으로 정렬함! */
    margin-top: -22%; /* 비율로 이미지가 변경되므로 마진도 상대적으로 변경되게함 */
}

/* 캐릭터 이름 이미지 */
.ci span img {
    width: 40%;
}

/* 캐릭터 이름 첫번째 이미지 숨기기 */
/* display:none 사용 */
.ci span img:first-child{display: none;}

/* .cat박스에 마우스 오버시 */
/* 캐릭터 이름 첫번째 이미지 보이기 */
/* 원래 이미지는 display:inline */
/* 이미지 태그 자체가 인라인요소이기 때문에 */
.cat:hover .ci span img:first-child{
    display: inline;
}

/* .cat박스에 마우스 오버시 */
/* 캐릭터 이름 마지막 이미지 숨기기 */
.cat:hover .ci span img:last-child{
    display: none;
}

/* 캐릭터 설명 박스 */
.cd {
    height: 0px; /* 마우스오버시 250px */
    overflow: auto; /* 넘치면 스크롤바 */
    margin-top: 15px;
    border-radius: 20px 0 0 20px; /* 오른쪽위, 오른쪽아래 */
    /* 
     둥근 모서리 방향별로 주기!
     boder-radius: 왼위 오른위 오른아래 왼아래;
     (왼쪽위 부터 시계방향 설정)
    */
    background: url(../images/eachBG.jpg) no-repeat center/cover;


    /* 
     [ 트렌지션으로 애니메이션 설정하기 ]
       - 트렌지션이란? 
         : CSS속성값이 변경되는 과정을 애니메이션으로 보여주는 속성

       - 형식
         transition: 속성명 시간 이징 지연시간;
         -> 속시이지!

       - 설정값
         1) 속성명 - 애니메이션 지정 대상 속성
                     예컨데 height값을 쓰면 height에 대한 애니만 나옴!
                     -> all이라고 쓰거나 안쓰면 모든 변경에 대한 애니!
         2) 시간 - 애니메이션 시간 설정
                   -> 초단위로 표시, 뒤에 's'라는 단위를 씀
                   -> 초단위 중 0.5이런식의 소숫점 앞자리가 0이면 이것을 생략하여 표현하기도함 : '.5s'
         3) 이징 - 애니메이션 가속도설정
                   ease-in : 시작할 때 천천히
                   ease-out : 끝날때 천천히
                   ease-in-out : 시작과 끝에 천천히
                   linear : 등속도(선형)
                   ease : 약한정도로 시작과 끝에 천천히
         4) 지연시간 - 애니메이션 시작 전 대기시간
                      초 단위(뒤에 's')

         -> 왜 속성값을 쓰게 해놨나?
            '속시이지' 의 순서로 속성별로 설정을 모두 다르게
            여러개를 설정할 수 있음!!! 아주 뛰어남!!!

            예) transform: width .3s ease-in height .5s ease-out .5s;

         ->>> 마우스 오버시 이징설정시 양방향을 모두 같은 설정으로 하고자 할때는
              over에 설정말고 원본에 설정한다. 
         ->>> over아닌 곳에 설정한다 (안그러면 마우스 빼면 같이 사라진다)
              (같은 설정이 먹는다.)

    */
    transition: height .6s ease-out;
}

/* 캐릭터개별박스(.cat)에 마우스 오버시 .cd높이값 변경 */
.cat:hover .cd{
    height: 250px;
}



/* 캐릭터설명 타이틀 */
.cd h3{
    padding: 5px 10px 0px;
}

/* 캐릭터설명 문단 */
.cd p{
    padding: 10px;

    font: 14px/2 '맑은 고딕', '돋움', arial;
    /* font 스타일
    font-style: italic; 
    
    두께
    font-weight: bold;
    
    크기
    font-size: 18px;
    
    줄간격
    line-height: 2; (설정된 글자크기의 배 - 2니까 글자폰트 18px의 2배)
    
    글자체
    font-family: 궁서체;
     
        font: 스타일 두께 크기/줄간격 글자체;
        font: 스 두 크/줄 체; 

    */

    text-align: justify; /* 텍스트 양쪽 정렬(책 쓸때 처럼 양쪽 딱 떨어져 맞는것) */

}

/* 하단영역 */
.info{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
}

/* 하단링크 */
ul.bm{
    width: 740px; /* 기준 가로값 740px */
    max-width: 90%; /* 창 사이즈 줄였을때, 최대 가로값 화면의 90% */

    margin: 0 auto; /* 마영오! */
    padding: 0;
    list-style: none; /* li의 점점 없애는것 */
    /* 3無 */
}

ul.bm::after{ /* float 해제 */
    content: '';
    display: block;
    clear: both;
}
ul.bm li{
    float:left;
    padding: 0 5px;
}
ul.bm a{
    color: #222;
    text-decoration: none; /* 밑줄없앰 */
    font: bold 14px/2 "맑은 고딕";
}
ul.bm a:hover{
    color: red;
    text-decoration: underline; /* 밑줄 */
}

/* 주소박스 */
.info address{
    width: 740px;
    max-width: 90%;
    margin: 20px auto; /* 위아래 20px 양쪽 auto(중앙) */

    font: normal 12px/2 "맑은 고딕";
    text-align: center; /* 글자 중앙 */

    border: 5px double #555;
    padding: 10px; /* 위아래 10px 양쪽0 */
}

/* 하단로고 박스 */
#blogo{
    text-align: center;
    /* 인라인요소 - 중앙정렬(이미지도 같이 텍스트쓴다) */
}