@charset "utf-8";
/* 메인 페이지 미디어쿼리 - media.css */


/* ★최대크기로 셋팅할 경우 큰 사이즈에서 -> 작은사이즈 순서로 미디어쿼리로 작성해야 잘 적용된다!

예시) - 800px 아래일때 적용됨 → 700px 아래일때 적용됨 (이렇게 최대에서 떨어저야만 덮어쓸 수 있다.)

@media only screen and (max-width:800px) 
{.gnb{display: none;}}

@media only screen and (max-width:700px) 
{.gnb{display: none;}} 

_______________________________________________________________________________________________________  

+) 추가로
".gnb" → 변경할 CSS코드 적을때 
CSS에 앞에 잡아준 요소랑 똑같이 쓰는게 가장 좋다.

ex) h1.logo{margin: 0;} 을 준 CSS이다.
    -> 미디어쿼리에서 "h1.logo"로 똑같이 작성해준다.
    -> 우선순위가 있기 때문에. id가 더 쎄다 뭐 이런 속성이 적용될 수 있기에 그냥 똑같이 작성해 준다.

*/



@media only screen and (max-width:800px) { /* 800px아래일때 적용됨 */
    /* 1. GNB없애기 */ 
    .gnb{
        display: none;
    }
}





/* 
   [ 미디어쿼리는 무엇이며 왜 사용하는가? ]

   1) 미디어쿼리란?
      - 디바이스(화면을 가진 기기)의 가로크기를 체크하여 그 화면 크기에 맞는
        CSS를 변경해주는 코딩 기법

   2) 왜 사용하는가?
      - 넓은 화면에서 보이던 레이아웃이 작은화면에 맞지 않는 
        가독성과 구조의 복잡함을 해결하기 위해
        각 사이즈별로 디자인을 변경할 수 있도록 
        미디어쿼리를 사용해야 한다!

   3) 코딩법
      @media only screen and (max-width:몇px) and (min-width:몇px){변경할 CSS 코딩}

      1) @media : 미디어쿼리 선언부
      2) only screen : 회피코드 (미디어쿼리를 아는 브라우저만 들어온다!)
      3) and : 연결자 (그리고 이거 그리고 이거)
      4) (max-width:몇px) : 최대 사이즈 설정 (꼭! px로만 씀!)
      5) (min-width:몇px) : 최소 사이즈 설정 (꼭! px로만 씀!)
         
          -> 최대, 최소를 모두 쓰면 사이범위의 사이즈가 적용됨
          -> 최대만 쓰면, 최대를 포함한 사이즈 이하 (할인행사를 생각해라! 80%할인하면 20%도 포함이니까)
          -> 최소만 쓰면, 최소를 포함한 사이즈 이상 

          -> 브라우저가 해당사이즈가 되면 여기 코딩된 CSS를 본 페이지의 기존 CSS에 덮어써 적용함!
          
          -> ★ 단, 미디어쿼리 CSS는 
             기존에 설정된 선택자와 똑같이 해야 제대로 덮어써진다!!!
             (우선순위에 문제가 생기지 안헤 해야함!)









*/