@charset "utf-8";
/* VOGUE PJ 공통 클래스, 웹폰트 CSS - core.css */

/* 공통 class */


/* 속박스 */ 
/* 현재는 겉박스 손볼거 없어서 따로 설정안함 */
.ibx{
    max-width: 1300px;
    margin: 0 auto;
    /* 1300px보다 크면 중앙정렬 + 작으면 auto로 width를 유지함! */

    outline: 3px dotted blue;
}



/*////////// 비율유지박스 //////////*/
.rbx{
    position: relative;
    /* 부모자격 - .rbxIn */
    outline: 2px dotted orange;
}

/* 비율밀기 가상요소 */
.rbx::before{
    content: "";
    display: block;
    /* padding-top 비율은 각 클래스와 연결한다! */
}


/*//////////// 스타일별 비율밀기 ////////////*/
/* 이미지 하나짜리 */
.pt1.rbx::before{
    padding-top: 50%; /* 부모크기 가로크기의 60% (자식이니까) */

    /* 
        [ 비율계산 - 그 비율대로 줄여야하니까]

        * 1개짜리
        1300px : 724px = 100% : ?% (724px은 1300px 기본적으로 보이는 높이값 사이즈크기) (그 비율대로 줄일려고 %계산함)
        ?% = 724px × 100% ÷ 1300px
        ?% = 55.69%

        * 3개짜리
        1300px : 650px = 100% : ?% (1300px에서 3개 보일때 보이는 높이값 650px -> 창을 줄였을때 그 비율대로 줄이려고 %계산함)
        ?% = 650px × 100% ÷ 1300px
        ?% = 50%
    
    */




}
/* 이미지 3개짜리 */
.pt2.rbx::before{
    padding-top: 60%;
}


/* 비율박스 속박스 - 위에서 패딩으로 밀었으니까 이걸 사방으로 붙으라고 밀착하려고 만드는것.*/
.rbxIn{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* 컨텐츠 박스 - 실제 내용이 들어가는 박스 */
.cbx{
    height: 100%; /* 가로를 안쓰면 auto로 끝까지 간다. 높이값만 줌 -> 부모박스를 채움 */
    /* 부모박스를 채움 */
}

/* .pt2아래 .cbx만 플로팅과 3등분 적용! */
.pt2 .cbx{ /* .cbx만 적으면 1첫번째껏도 되기때문 (> 이걸쓰면 직계를 다 작성을 써야한다. / 띄어쓰기하면 직계중에~)*/
    float: left;
    width: 33.33%; /* 부모의 3등분 나눔 */ /* 높이를 확보해주기 때문에 클리어보뜨가 필요없는거임!(높이가 확정되어있기 때문-비율박스가 있기 때문) */
}


/* 배경이미지 공통 */
.bgi{ /* 꽉채우는 이미지 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}