<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS 데이터 바인딩 연습2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> <!-- 뷰JS 프레임워크 스텐드얼론 버전 가져오기 -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script> <!-- 엑시오스 라이브러리 스텐드얼론 버전 가져오기 (★제이슨 불러오기★) -->
    <!-- 
        ※ 스텐드얼론(의존성없이 얘만 있으면 쓸수 있다. 별도의 설치가 필요없다는 뜻)
        
        https://rintiantta.github.io/jpub-vue/guide/chapter1.html#s04-%EC%84%A4%EC%B9%98%ED%95%98%EA%B8%B0 
        ▶ 해당홈페이지에서 복붙해서 가져옴

        ▶ vue.js / axios.min.js  ->> 2개 가져옴
     -->

    <script>
          window.addEventListener("DOMContentLoaded",()=>{ 

            console.log("로딩완료!");

            new Vue({
                el: "#app",
                data: {
                    // 제이슨파일 ▷ FED\010.VueJS학습\002.데이터연습 >> "real.json" 

                    items: {}, // json데이터 종류(빈객체형 셋팅)
                    catName:"fashion" // ▷ FED\010.VueJS학습\002.데이터연습 >> "real.json" 에 경로 각각 이름 가져옴 ex) catName:"fashion" 
                },

                // mounted 속성은 "읽어들여진"의 뜻으로 외부파일을 가져와서 셋팅하는 기능!
                mounted: function(){

                    // axios는 외부파일을 읽어올 수 있는 라이브러리
                    axios.get("./real.json")
                    .then(response => (this.items = response))
                    /* 
                        ▶ get() 메서드는 가져올 파일 경로를 셋팅함
                        ▶ then() 메서드는 가져온 후 셋팅내용을 코딩함

                        ▶ response => (this.items = response)
        
                           : 가져온 파일 내용을 response 변수로
                             함수 내부에 전달하여 이 값을 Vue JS에
                             셋팅된 this.items 
                             즉, 현재 변수 items에 집어넣어라!
                             ▷ then 바로뒤에 "response"는 ▷ (this.items = response) 해당 "response"로 들어가고 ▷ 이 "response"는 this.items 으로 들어감

                             ()=>{} 화살표함수 줄여쓴것
                             {중괄호} 생략됬고, 
                              ▶ 화살표 뒤에 중괄호 {} 없이 
                                 명령문 하나만 있으면
                                 그게 바로 return 문이다! 
                              ▶ then(response => (this.items = response))
                                 ▷ then(response => {return this.items = response}) -> { return //// } ▷ 생략됨
                              ▶▶ 그러니까 리턴이니까 (this.items = response) 이게 리턴되서 ▶▶ then 으로 간다.
                                   (this.items = response) 이렇게 소괄호로 묶은건 리턴될때 한덩이로 묶을라고 이다.


                             this.items = response 이거를 묶어주려고 () 쓴거임
                             오른쪽이 왼쪽으로 들어가니
                             response 가 this.items 으로 들어간것.
                    */
                }

            }); //////// Vue //////////


          }); /////////////// 로딩구역 //////////////////////////////








    </script>
</head>
<body>
    <h1>Vue JS 데이터 바인딩 연습</h1>
    <ul id="app">
        <li v-for="(v,i) in items.data" v-if="v.경로===catName"> <!-- items변수안에서 데이터를 가져와 그래서 한칸들어가서 .data -->
            <!-- 
                v-if="v.경로===catName"
                v.경로의 값이 catName에 설정된 값과 같은 경우에만 li를 만들어라!
                ex) 위에서 catName:"beauty" 을 뷰티라고 정했으면 브라우저 창에 뷰티만 나옴
            -->
            {{v.제목}}
            <ol v-if="v.메뉴!=='없음'">  
                <!-- 
                      v-if="v.메뉴!=='없음'" 을 아래 li v-for옆에 안적은 이유
                      if문은 따로 ol로 올려야 빈껍데기 없음 ol이 안보이고, li만보임 
                      ▶ ul이나 ol 을 쓰려면 꼭 li를 써야 한다.
                         근데 여기서 ol을 왜 안보이게 했냐면 ol만 쓰고 li 리스트 항목 없다고 li안쓰면 태그상에 문제가 생김
                         그래서 ol이 사라지고 리스트가 없으면 li태그로 보이게 하는것임
                         
                         크게 ul이 싸고 있으니 li만써도 괜찮은것.           
                -->
                <li v-for="(m,i) in v.메뉴">
                    {{m}}
                <!-- 
                    위에 포문 안에 또 포문 -> 위의 v-for="(v,i) ▶ v를 써서 ▶ v.메뉴 

                    왜 "v.메뉴" / "v.제목" 이렇게 앞에 v를 붙혀서 쓰냐면
                    ▶ v-for="(v,i) in items.data" 은

                       들어가서 보면 
                       ▷ FED\010.VueJS학습\002.데이터연습 >> "real.json"
                    ▶ "fashion" / "beauty" / "living" / "people" / "video" / "runway" / "shopping" 인 큰 뭉탱이를 지칭하는것

                    ▶ v는 이 각각 하나씩의 큰 카테고리를 지칭하는 거고
                       i는 순번을 지칭하는거니

                       ▶▶ v.메뉴 >> "fashion" / "beauty" / "living" / "people" / "video" / "runway" / "shopping" 들의 각각의 메뉴가 보이는것. 
                -->
                <!-- 
                      없음도 배열로 나와서 그건 안보이게 하려고
                      v-if="" 씀 (if문)

                      ▶ v-if="v.메뉴!=='없음'
                         만약에 v.메뉴의 값이 '없음'이 아니면 true
                         이때 for문이 실행됨!

                         false이면 실행안됨.
                -->
                </li> 
            </ol>
                
            </ol>
        </li>
    </ul>

</body>
</html>