<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS 기초</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> <!-- 뷰JS 스탠드얼론 버전 가져오기! -->
    <!-- 
        https://rintiantta.github.io/jpub-vue/guide/chapter1.html#s04-%EC%84%A4%EC%B9%98%ED%95%98%EA%B8%B0
        "vue.js" ▶ 코드 복붙해옴
     -->

    <script> /* 자바스크립트 구역 */
        window.addEventListener("DOMContentLoaded",()=>{

            // console.log("로딩완료!");


            /* 
                new Vue() : Vue JS 실행 
                new 키워드는 객체를 생성하는 역할을 함
                -> 이렇게 생성된 것을 "객체 인스턴스" 라고 함! 
                   실제로 쓸수 있는 상태

                -> 변수에 담아서 쓸수도 있지만 지금은 필요없어서 이렇게 한거임
            */

            // 1. 텍스트 바인딩 *******************************************************
            new Vue({

                // el은 적용할 요소(element)를 담는 속성!
                el: "#app1",
                
                // data는 사용할 데이터를 셋업하는 속성
                data : { /* date : {} > 객체형식 안에 객체들어있음 */

                    // message 속성은 텍스트값을 할당해서 사용!
                    // 이것은 변수처럼 아래 html 뷰JS 셋팅에 사용
                    message: "나는 프론트엔드 개발자다!"
                    /* 
                        이게 이제 아래 Html 
                        {{message}} 에 들어간다.
                    */
                } 

            }); ///// vue /////



            // 2. 반복 렌더링 *******************************************************
            new Vue({

                el: "#app2", /* 가상돔으로 끌고 올라갈애 */
                data: {
                    // list 속성은 반복 데이터를 셋팅한다!
                    list : ["김수현","공유","송강"]
                }

            }); ///// vue /////

            

            // 3. 이벤트 사용하기 *******************************************************
            new Vue({

                el: "#app3",

                // methods 속성은 함수기능을 구현하여 할당함
                methods: {
                    myClick: function(event){
                        alert(event.target); // 버튼자신
                    } ////// myClick 함수 ////

                }

            }); ///// vue /////



            // 4. 입력 양식과 동기화하기 *******************************************************
            new Vue({

                el:"#app4",

                data: {
                    message: "여기에 입력해봐~!"
                }

            }); ///// vue /////



            // 5. 조건분기 *******************************************************
            new Vue({

                el : "#app5",
                data: {

                    // show 속성은 디스플레이를 보이고 숨길때
                    // 속성값을 true/false로 변경하도록 값을 셋팅함
                    show: true
                }

            }); ///// vue /////






        }); /////////////// 로드구역 ///////////////////////
        //////////////////////////////////////////////////
    </script>
</head>
<body>
    <h1>Vue JS 기초연습</h1>

    <hr>

    <h2>1. 텍스트 바인딩(binding - 데이터를 넣어준다)</h2>
    <div id="app1">
        <p>{{message}}</p> <!-- 변수처럼 사용됨 --> 
        <!-- 
            {{}} ▶ 중복중괄호는 콧수염 표시자(Mustasch)
                 : 이 부분에 뷰JS 데이터를 넣는 자리!
         -->
    </div>

    <hr>

    <h2>2. 반복 렌더링</h2>
    <div id="app2">
        <ol>
            <li v-for = "item in list">{{item}}</li> 
            <!-- {{list}} 위에처럼 이렇게 쓰면 화면에서 보면 
                 [ "김수현", "공유", "송강" ] 나옴
                 ▷ 난 하나씩 돌릴거다. 
            
                 v-for는 뷰JS에서 사용하는 반복구문 속성
                 반복할 요소에 직접 사용함 (포문돌린것처럼)
                 ▷ 여기서 li에 돌릴거라 li안에 적음

                 ▶ 값구성 : 변수 in list
                 ▶ 해석 : list에 할당된 개수만큼 돌아서 하나씩 변수에 넣음

                 ex)
                 <li v-for = "멍멍 in list">{{멍멍}}
            -->
        </ol>
    </div>

    <hr>

    <h2>3. 이벤트 사용하기</h2>
    <div id="app3">
        <button v-on:click="myClick">Click</button>
        <!-- 
             v-on:이벤트명
             ▶ 이벤트와 함수를 연결해주는 뷰JS 속성
                값은 내가 만든 methods 안의 함수명(위에서 씀)을 써준다!

             ex)  methods: {
                    myClick : 
         -->
    </div>


    <hr>


    <h2>4. 입력 양식과 동기화하기</h2>
    <div id="app4">
        <input v-model="message"> <!-- 얘가 모델이기 때문에 얘를 바꾸면 바로 아래도 같이 바뀜 -->
        <p>{{message}}</p>
        <!-- 
             v-model 속성은
             요소자신의 값이 타겟 값으로 반영되게함

             변경데이터의 뷰JS의 동기화 기능을 확인함! (실시간 동기화)
         -->
    </div>


    <hr>


    <h2>5. 조건분기</h2>
    <div id="app5">
        <button v-on:click="show=!show">변경하기</button>
        <p v-if="show">나는 프론트엔드 개발자다!</p>
        <!-- 
             v-on:click 요소 클릭시
             값 show=!show
             ▶ 클릭하면 show 가 아니야!
                그래서 클릭하면 아니기 때문에 아래 p에 적은 글자가 안보이고
                다시 클릭하면 p글자가 보임 

             ▶ 해석 : true면 false, 
                      false면 true로 값 변경!

             ▶ 쉽게 요소를 객체를 넣다 뺐다 한다.  
         -->
         <!-- 
              v-if 속성은 조건에 따라 결과를 다르게 해주는 기능
              값에 show를 쓴 것은 기본값 true가 셋팅됨
              이때 뷰JS 에서 해당요소를 보이게 하고
              false이면 요소자체를 없앰! (가상돔에서 태그를 지워줌 그래서 실제로 화면에 안보이는 것임)
          -->
    </div>



</body>
</html>